@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  color: #000;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  body._lock {
    overflow: hidden; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.container {
  max-width: 1130px;
  margin: 0px auto;
  padding: 0px 15px; }

.mainblock {
  background-color: #100b16e3;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .mainblock__wrapper {
    text-align: center;
    color: #fff; }
  .mainblock__avatar {
    width: 350px;
    height: 350px;
    border-radius: 50%; }
    @media (max-width: 1160px) {
      .mainblock__avatar {
        width: calc(200px + 150 * ((100vw - 320px) / 840)); } }
    @media (max-width: 1160px) {
      .mainblock__avatar {
        height: calc(200px + 150 * ((100vw - 320px) / 840)); } }
  .mainblock__title {
    font-size: 60px;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0.9375em 0px 0.3125em 0px; }
    @media (max-width: 1160px) {
      .mainblock__title {
        font-size: calc(35px + 25 * ((100vw - 320px) / 840)); } }
    @media (max-width: 1160px) {
      .mainblock__title {
        letter-spacing: calc(0.5px + 1.5 * ((100vw - 320px) / 840)); } }
  .mainblock__subtitle {
    font-size: 35px;
    letter-spacing: 0.0625em; }
    @media (max-width: 1160px) {
      .mainblock__subtitle {
        font-size: calc(22px + 13 * ((100vw - 320px) / 840)); } }

.works {
  background-color: #e7e1e1;
  color: #100b16e3;
  text-align: center;
  padding-top: 70px; }
  @media (max-width: 1160px) {
    .works {
      padding-top: calc(30px + 40 * ((100vw - 320px) / 840)); } }
  .works__title {
    font-size: 32px;
    text-transform: uppercase; }
    @media (max-width: 1160px) {
      .works__title {
        font-size: calc(20px + 12 * ((100vw - 320px) / 840)); } }
  .works__text {
    margin-top: 20px;
    line-height: 24px;
    font-size: 20px; }
    @media (max-width: 1160px) {
      .works__text {
        margin-top: calc(15px + 5 * ((100vw - 320px) / 840)); } }
    @media (max-width: 1160px) {
      .works__text {
        line-height: calc(20px + 4 * ((100vw - 320px) / 840)); } }
    @media (max-width: 1160px) {
      .works__text {
        font-size: calc(16px + 4 * ((100vw - 320px) / 840)); } }
    .works__text :not(:first-child) {
      margin-top: 10px; }
      @media (max-width: 1160px) {
        .works__text :not(:first-child) {
          margin-top: calc(10px + 0 * ((100vw - 320px) / 840)); } }
  .works__portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px -20px 0px -20px; }
  .works__column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333%;
    flex: 0 0 33.333%;
    padding: 0px 20px 20px 20px; }
  .works__image {
    width: 300px; }
    @media (max-width: 1160px) {
      .works__image {
        width: calc(250px + 50 * ((100vw - 320px) / 840)); } }
  .works__descriptiom {
    color: #000;
    font-size: 17px;
    max-width: 250px;
    line-height: 20px;
    margin: 7px auto 0px auto; }
    @media (max-width: 1160px) {
      .works__descriptiom {
        font-size: calc(14px + 3 * ((100vw - 320px) / 840)); } }
    @media (max-width: 1160px) {
      .works__descriptiom {
        max-width: calc(100%px + 150% * ((100vw - 320px) / 840)); } }
    @media (max-width: 1160px) {
      .works__descriptiom {
        line-height: calc(20px + 0 * ((100vw - 320px) / 840)); } }
  @media (max-width: 960px) {
    .works__portfolio {
      margin: 30px -20px 0px -20px; } }

.title {
  display: inline-block;
  position: relative;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 0.09375em; }
  @media (max-width: 1160px) {
    .title {
      font-size: calc(26px + 14 * ((100vw - 320px) / 840)); } }
  .title:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    top: 110%;
    left: 2px;
    background-color: #100b16e3; }
