//  MAINBLOCK  =============================================================================
.mainblock {
	background-color: #100b16e3;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		text-align: center;
		color: #fff;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		@include adaptiv-value('margin-left', -30, 0, 1);
		@include adaptiv-value('margin-right', -30, 0, 1);
	}

	&__image {
		@include adaptiv-value('padding-right', 30, 0, 1);
	}

	&__avatar {
		@include adaptiv-value('width', 350, 200, 1);
		@include adaptiv-value('height', 350, 200, 1);
		border-radius: 50%;
	}

	&__content {
		@include adaptiv-value('padding-left', 30, 0, 1);
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}


	&__title {
		@include adaptiv-value('font-size', 60, 35, 1);
		@include adaptiv-value('letter-spacing', 2, 0.5, 1);
		font-weight: 500;
	}

	&__subtitle {
		@include adaptiv-value('font-size', 35, 20, 1);
		@include adaptiv-value('margin-top', 15, 5, 1);
		letter-spacing: em(1);
	}

	&__middle {
		@include adaptiv-value('margin-top', 45, 20, 1);
		@include adaptiv-value('margin-bottom', 45, 30, 1);
	}

	&__resume {
		@include adaptiv-value('font-size', 26, 18, 1);
		@include adaptiv-value('letter-spacing', 1, 0.5, 1);
		color: #fff;
		display: inline-flex;
		align-items: center;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 1.5%;
			width: 84.5%;
			height: 1px;
			background-color: #fff;
			transition: all 0.3s ease 0s;
		}

		&::before {
			@include adaptiv-value('padding-left', 5, 5, 1);
			@include adaptiv-value('font-size', 30, 15, 1);
			order: 2;
			animation: arrow 1s infinite linear alternate-reverse;
		}

		@media(any-hover:hover) {
			&:hover {
				&::before {
					animation-play-state: paused;
				}

				&::after {
					opacity: 0;
				}
			}
		}
	}

	&__contacts {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__link {
		@include adaptiv-value('width', 40, 35, 1);
		@include adaptiv-value('height', 40, 35, 1);
		@include adaptiv-value('margin-left', 12, 8, 1);
		@include adaptiv-value('margin-right', 12, 8, 1);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-radius: 50%;
		transition: all 0.3s ease 0s;

		&::before {
			color: #000;
			@include adaptiv-value('font-size', 26, 20, 1);
		}

		@media(any-hover:hover) {
			&:hover {
				opacity: 0.5;

			}
		}
	}

	@media (max-width: 720px) {
		&__wrapper {
			flex-direction: column;
			margin: 0;
		}

		&__image {
			padding: 0;
		}

		&__content {
			@include adaptiv-value('margin-top', 30, 40, 1);
			padding: 0;
		}
	}
}

@keyframes arrow {
	0% {
		transform: translate(0, -10px);
	}

	100% {
		transform: translate(0, 3px);
	}
}

@media (max-width: 720px) {
	@keyframes arrow {
		0% {
			transform: translate(0, -3px);
		}

		100% {
			transform: translate(0, 3px);
		}
	}
}

//  ABOUT  =============================================================================
.about {
	@include adaptiv-value('margin-top', 70, 30, 1);
	@include adaptiv-value('margin-bottom', 70, 30, 1);

	&__wrapper {
		text-align: center;
	}

	&__content {
		margin: 0 auto;
		@include adaptiv-value('margin-top', 30, 20, 1);
		@include adaptiv-value('line-height', 32, 25, 1);
		@include adaptiv-value('font-size', 26, 20, 1);
		text-align: left;
	}

	&__descr {
		&:not(:last-child) {
			@include adaptiv-value('margin-bottom', 15, 15, 1);
		}

		& span {
			font-weight: 500;
		}
	}

	&__english {
		font-weight: 500;
	}

	&__text {
		@include adaptiv-value('margin-top', 40, 25, 1);
		@include adaptiv-value('font-size', 26, 20, 1);
		@include adaptiv-value('line-height', 30, 26, 1);
	}

	&__resume {
		font-weight: 700;
		display: inline-block;
		color: #100b16e3;
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: #100b16e3;
			transition: all 0.3s ease 0s;
		}

		@media(any-hover:hover) {
			&:hover {
				&:after {
					opacity: 0;
				}
			}
		}
	}

	@media (max-width: 600px) {
		&__content {
			text-align: center;
			@include adaptiv-value('max-width', 500, 300, 1);
		}

		&__descr {
			& span {
				display: block;
				font-weight: 700;
			}
		}

		&__english {
			font-weight: 700;
		}
	}
}

//  WORKS  =============================================================================
.works {
	background-color: #100b16e3;
	color: #fff;
	text-align: center;
	@include adaptiv-value('padding-top', 70, 30, 1);
	@include adaptiv-value('padding-bottom', 70, 30, 1);


	&__text {
		@include adaptiv-value('margin-top', 30, 20, 1);
		@include adaptiv-value('margin-bottom', 30, 20, 1);
		@include adaptiv-value('font-size', 24, 18, 1);
		@include adaptiv-value('line-height', 26, 22, 1);

		:not(:first-child) {
			@include adaptiv-value('margin-top', 10, 10, 1);
		}
	}

	&__portfolio {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0px -10px;
		@include adaptiv-value('margin-top', 10, 5, 1);
	}

	&__column {
		@include adaptiv-value('margin-top', 20, 15, 1);
		flex: 0 0 33.333%;
		padding: 0px 10px;
		transition: all 0.3s ease 0s;
		position: relative;
		z-index: 2;

		@media(any-hover:hover) {
			&:hover {
				transform: scale(1.04);
			}
		}
	}

	&__column.hidden {
		opacity: 0;
		position: absolute;
		transform: scale(0);
	}

	&__item {
		height: 100%;
		border-radius: 7px;
		padding: 20px;
		display: inline-block;
		background-color: #fdfafa;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__photo {
		overflow: hidden;
	}

	&__image {
		@include adaptiv-value('width', 300, 250, 1);
		transition: all 0.3s ease 0s;
	}

	&__descriptiom {
		transition: all 0.3s ease 0s;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #000;
		@include adaptiv-value('font-size', 18, 16, 1);
		@include adaptiv-value('line-height', 22, 20, 1);
		@include adaptiv-value('max-width', 270, 100%, 1);
		margin: 10px auto 0px auto;
	}
}

.filter {
	@include adaptiv-value('height', 70, 50, 1);
	// background-color: #fff;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	@include adaptiv-value('margin-right', -10, -10, 1);
	@include adaptiv-value('margin-left', -10, -10, 1);
	border-radius: 10px;

	&__link {
		background-color: #fff;
		flex: 0 0 25%;
		height: 100%;
		cursor: pointer;
		color: #100b16e3;
		display: flex;
		align-items: center;
		justify-content: center;
		@include adaptiv-value('padding-right', 10, 10, 1);
		@include adaptiv-value('padding-left', 10, 10, 1);
		padding: 12px;
		transition: all 0.3s ease 0s;
		position: relative;
		@include adaptiv-value('font-size', 18, 15, 1);
		@include adaptiv-value('line-height', 20, 16, 1);

		&.active {
			background-color: #000;
			color: #fff;
			transition: all 0.3s ease 0s;


		}

		&:first-child {
			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;
		}

		&:last-child {
			border-top-right-radius: 9px;
			border-bottom-right-radius: 9px;
		}

		&:not(:last-child) {
			&:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 50%;
				top: 50%;
				right: 0;
				background-color: #000000;
				transform: translate(0, -50%);
			}
		}

		@media(any-hover:hover) {
			&:hover {
				color: #fff;
				background-color: #000000;
			}

		}
	}

}

@media (max-width: 550px) {
	.works {
		&__portfolio {
			@include adaptiv-value('margin-top', 70, 70, 1);
		}
	}

	.filter {
		&__link {
			flex: 1 1 33.333%;
			border-radius: 9px;
			@include adaptiv-value('width', 70, 50, 1);
			margin: 3px 3px;

			&:after {
				display: none;
			}
		}
	}
}